<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Amir's resume - Full-Stack JavaScript Developer with expertise in MERN Node.js Express.js React.js MongoDB, Next.js,Nest.js,Fastify, Docker, Kubernetes,">
    <meta name="keywords"
        content="Amir,AmirHossein, Amir Khakshour,Full-Stack Developer, JavaScript Developer,
                MERN stack, Node, Node.js, Testing, Jest , Next.js, Docker, Kubernetes, Software Engineer, resume, امیر ,امیرحسین ,امیر خاکشور ,خاکشور">
    <meta name="author" content="Amir Khakshour">
    <meta property="og:title" content=" AmirHossein Khakshouri personal website">
    <meta property="og:description" content="Explore Amir's expertise in Tech, Software engineering and some general articles">
    <meta property="og:image" content="https://www.amirhosseinkhakshori.ir/static/imgs/Amir.jpg">
    <meta property="og:url" content="https://www.amirhosseinkhakshori.ir/">
    <link rel="icon" type="image/x-icon" href="/static/imgs/Amir.jpg">
    <link rel="stylesheet" href="/static/index.css">
    <title> Amir </title>
</head>

<body>
    <h1 class="seo-only">amir</h1>
    <h1 class="seo-only">amirHossein</h1>
    <h1 class="seo-only">AmirHossein</h1>
    <h1 class="seo-only">amirHossein Khakshouri</h1>
    <h1 class="seo-only">AmirHossein Khakshouri</h1>
    <h1 class="seo-only">Amir Khakshouri</h1>
    <h1 class="seo-only">khakshour</h1>
    <h1 class="seo-only">khakshor</h1>

    <h1 class="seo-only"> امیر </h1>
    <h1 class="seo-only"> امیر خاکشور </h1>
    <h1 class="seo-only"> امیرحسین خاکشور</h1>
    <h1 class="seo-only"> امیر حسین خاکشوری </h1>
    <h1 class="seo-only"> امیرحسین خاکشوری ثانی </h1>

    <h1 class="seo-only">hire frontend developer</h1>
    <h1 class="seo-only">hire Software Engineer</h1>
    <h1 class="seo-only">hire backend developer</h1>

    <div class="container-div">
        <div class="left-div"> </div>
        <div class="center-div">
            <section id="about">
                <h1> My Name is <span id="name" class="name"> Amir </span> a Software Engineer </h1>

                <p>
                    In December 2021,
                    I began my professional journey as a front-end developer on a significant national project for the
                    Electronic Distribution Network Company of Razavi Khorasan.
                    The aim was to harness GIS data through an intuitive web application enriched with advanced features
                    such as network modification,
                    optimization, and data visualization.
                </p>

                <p>
                    My responsibilities included mapping power supply networks, detecting and diagnosing network faults,
                    and enabling network editing by allowing the addition and removal of devices. 
                    </br>
                    I also developed an admin panel to streamline user management.
                    Beyond front-end duties, I contributed to back-end development by creating a server for data
                    cleansing and transformation,
                    facilitating seamless integration with the Main API server. This project, which spanned
                    approximately six months,
                    culminated in a successful release. Subsequently,
                    I expanded my role to include full-stack development,
                    adding new modules to the project and working on IoT initiatives.

                </p>


                <p>
                    After two years of honing my skills,
                    I transitioned into freelance work as a software engineer.
                    In this capacity,
                    I led several diverse projects, such as a demo application for the Tehran Gas Transmission Company
                    and a comprehensive sports club management system,
                    showcasing my adaptability and expertise across various domains.
                </p>
            </section>

            <hr/>

            <section id="skills" >
                <h3> My Skills :</h3>
                <p>
                    <span> Front End : </span> 
                    <span> HTML, CSS, JavaScript, TypeScript, React.js, Redux,
                           Redux Toolkit, React Query, Next.js, Sass, Tailwind,
                           Bootstrap,Material UI,
                           IndexedDB & Local Storage, testing, Jest, Cypress  
                    </span>
                </p>

                <p>
                    <span>
                        Back End :
                    </span>

                    <span>
                        Node.js, Express.js,
                        Software Architecture, JWT,
                        cookies, Socket.io, Passport.js, Authentication and 
                        Authorization, Testing,  
                    </span>
                </p>

                <p>
                    <span>
                        Database :
                    </span>

                    <span>
                        SQL: PostgreSQL, MySQL, NoSQL: MongoDB ORM: Drizzle, Prisma 
                    </span>
                </p>

                <p>
                    <span>
                        Others :
                    </span>

                    <span>
                        OOP, RESTful API, GraphQL, Git, Linux, Documenting, Best Practices, Docker, Kubernetes, CI/CD,
                    </span>
                </p>


            </section>

            <hr/>

            <section id="work">
                <h3> work experience </h3>
                <ul>
                    <li> Freelance Software Engineer (from Oct 2023) </li>
                    <li> FrontEnd & Full-Stack developer at simorgh (2 years) </li>
                </ul>
            </section>

            <hr/>

            <section id="contact">
                <h3> I am open to exploring remote work positions</h3>
                <p> 
                    check out my profiles  
                    <a class="links" href="https://www.linkedin.com/in/amir-khakshori/"> LinkeDin </a> 
                    <a class="links" href="https://stackoverflow.com/users/20938705/amirhossein-khakshouri"> Stack Overflow</a> 
                    <a class="links" href="https://github.com/Amirhosseein"> Github </a>
                </p>
            </section>


        </div>
        <div class="right-div"> </div>
    </div>


    <script src="/static/index.js"></script>
</body>

</html>